<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>luskan</display-name>

  <servlet>
    <servlet-name>logControl</servlet-name>
    <servlet-class>ca.nrc.cadc.log.LogControlServlet</servlet-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>info</param-value>
    </init-param>
    <init-param>
      <param-name>logLevelPackages</param-name>
      <param-value>
        org.opencadc.luskan
        ca.nrc.cadc.reg
        ca.nrc.cadc.rest
        ca.nrc.cadc.uws
        ca.nrc.cadc.tap
        ca.nrc.cadc.net
        ca.nrc.cadc.auth
        ca.nrc.cadc.vosi
        ca.nrc.cadc.uws.server
        ca.nrc.cadc.db
      </param-value>
    </init-param>
    <init-param>
            <param-name>logAccessGroup</param-name>
            <param-value>ivo://cadc.nrc.ca/gms?CADC</param-value>
        </init-param>
        <init-param>
            <param-name>groupAuthorizer</param-name>
            <param-value>ca.nrc.cadc.ac.client.GroupAuthorizer</param-value>
        </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

    <servlet>
        <servlet-name>AsyncQueryServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.uws.server.JobServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>ca.nrc.cadc.uws.web.GetAction</param-value>
        </init-param>
        <init-param>
            <param-name>post</param-name>
            <param-value>ca.nrc.cadc.uws.web.PostAction</param-value>
        </init-param>
        <init-param>
            <param-name>delete</param-name>
            <param-value>ca.nrc.cadc.uws.web.DeleteAction</param-value>
        </init-param>
        
        <init-param>
            <param-name>ca.nrc.cadc.uws.server.JobManager</param-name>
            <param-value>org.opencadc.luskan.ws.QueryJobManager</param-value>
        </init-param>
        <init-param>
            <param-name>ca.nrc.cadc.rest.InlineContentHandler</param-name>
            <param-value>org.opencadc.luskan.TempStorageManager</param-value>
        </init-param>
        
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SyncQueryServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.uws.server.JobServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>ca.nrc.cadc.uws.web.SyncGetAction</param-value>
        </init-param>
        <init-param>
            <param-name>post</param-name>
            <param-value>ca.nrc.cadc.uws.web.SyncPostAction</param-value>
        </init-param>

        <init-param>
            <param-name>ca.nrc.cadc.uws.server.JobManager</param-name>
            <param-value>org.opencadc.luskan.ws.QueryJobManager</param-value>
        </init-param>
        <init-param>
            <param-name>ca.nrc.cadc.rest.InlineContentHandler</param-name>
            <param-value>org.opencadc.luskan.TempStorageManager</param-value>
        </init-param>

        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>TempStorageServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
        <init-param>
        <param-name>get</param-name>
            <param-value>org.opencadc.luskan.TempStorageGetAction</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.vosi.CapabilitiesServlet</servlet-class>
        <init-param>
        <param-name>input</param-name>
        <param-value>/capabilities.xml</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>AvailabilityServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.vosi.AvailabilityServlet</servlet-class>
        <init-param>
        <description>
        </description>
            <param-name>ca.nrc.cadc.vosi.AvailabilityPlugin</param-name>
            <param-value>org.opencadc.luskan.ws.StorageTapService</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>TableServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>ca.nrc.cadc.vosi.actions.GetAction</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

  <!-- the TAP Endpoints -->
  <servlet-mapping>
    <servlet-name>AsyncQueryServlet</servlet-name>
    <url-pattern>/async/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SyncQueryServlet</servlet-name>
    <url-pattern>/sync/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>logControl</servlet-name>
    <url-pattern>/logControl/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CapabilitiesServlet</servlet-name>
    <url-pattern>/capabilities</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AvailabilityServlet</servlet-name>
    <url-pattern>/availability</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/tables/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TempStorageServlet</servlet-name>
    <url-pattern>/results/*</url-pattern>
  </servlet-mapping>

  <!-- Define a security constraint for auth servlet -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>auth</web-resource-name>
      <description/>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>force authentication for all requests</description>
      <role-name>public</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Canadian Astronomy Data Centre</realm-name>
  </login-config>

</web-app>
